:root {
    --main-bg-color-1: #1e1e2f;
    --main-bg-color-2: #1b1b21;

    --main-sidebar-color-1: #3d9dfb;
    --main-sidebar-color-2: #1d8cf8;

    --main-text-color: #fff;

    --main-color-logo: #fff;

    --main-color-card: #27293d;
}
