@import url(../fonts.css);
@import url(../reboot.css);
@import url(responsive.css);

/* --------------------------GLOBAL TOOLS-------------------------------- */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}


section {
    width: 100%;
}
button {
    height: 45px;
    width: 155px;
    color: #ffffff;
    font-family: lato-regular;
    font-weight: bolder!important;
    font-size: 12px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    border: 1.5px solid #2900FF;
    background-color: #2900FF;
}
.blue-txt{
    color: #2900FF!important;
    text-transform: none;
}
.row {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.margin-around {
    display: flex;
    margin: 30px;
    width: calc(100% - 60px);
}
.fullHeight {
    height: 100vh;
}

.padd-around {
    display: flex;
    padding: 20px;
    width: calc(100% - 40px);
}

.column {
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.x-center {
    justify-content: center;
}

.y-center {
    display: flex;
    align-items: center;
}

#maintenance {
    background-image: url("/assets/media/images/maintenance.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#error {
    background-image: url("/assets/media/images/error.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* ---------------------------------------------------------- */
/* --------------------------HEADER / NAV-------------------------------- */

header {
    position: fixed;
    height: 10vh;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    z-index: 999;
}
  
nav {
    display: flex!important;
    width: 100vw;
    min-height: 7vh;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #fff;
    box-shadow: 0px 5px 15px rgba(0 ,0 , 0, 0.2);
    position: fixed;
    z-index: 1000;
    transition: .2s background-color ease-in-out;
}

nav:hover,
nav.nav-hover {
    background-color: #EFF1FF;
}

.burger {
    display: flex!important;
    position: absolute;
    right: 75px;
    height: 3vh;
    top: 2.25vh;
    transform-origin: center;
    z-index: 100;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.nav-links{
    height: 93vh;
    background-color: #EFF1FF;
    position: absolute;
    top: 6vh;
    right: 0px;
    width: 20%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: normal;
    z-index: 1000;
}

.nav-active{
    transform: translateX(0%)!important;
}

#logo {
    width: 170px;
    height: 40px;
    mask-position: center;
    -webkit-mask-position: center;
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    background-color: #fff;
    transition: .2s background-color ease-in-out;
}

nav:hover #logo,
nav.nav-hover #logo {
    background-color: #2900FF;
}

.logo a {
    display: flex;
    align-items: center;
    height: 100%;
}

.burger > div{
    height: 2px;
    width: 25px;
    background-color: #fff;
    margin:3px;
    transition:all 0.7s ease;
}

nav:hover .burger > div,
nav.nav-hover .burger > div {
    background-color: #2900FF;
}

.nav-links li {
    opacity: 0;
    margin: 40px;
    color: #2900FF;
}
.nav-links li a {
    font-family: lato-bold;
    font-size: 15px;
}


@keyframes NavLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }

}

.toggle .line1{
    transform: rotate(-45deg) translate(-8px, 3.5px);

}
.toggle .line2{
    opacity: 0;

}

.toggle .line3{
    transform: rotate(45deg) translate(-8px, -3.5px);

}

a.left
{
    position: relative;
}

a.left:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -8px;
    left: 0;
    background-color: #2900FF;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

a.left:hover:before {
    visibility: visible;
    width: 100%;
}

/* ---------------------------------------------------------- */

/* ------------------------ARROW HOMEPAGE---------------------------------- */
.arrow{
    position: absolute;
    top: 90vh;
    left: 50vw;
    height: 15px;
    animation: arrow-top 1.5s ease-in-out infinite;
    transition: 0.5ms;


}

@keyframes arrow-top{
    from{
        top: 90vh;
    }
    to{
        top: 94vh;
    }

}

/* ---------------------------------------------------------- */
/* -------------------------FIRST SECTION HOME--------------------------------- */

.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    filter: blur(2px);
}



#firstpage {
    height: 100vh;
}

#firstpage div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-home {
    
    z-index: 10;
}

#container-home h1{
    font-family: lato-regular;
    font-size: 45px;
    line-height: 45px;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
    text-align: center;
}

#container-home h3{
    font-family: lato-regular;
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: normal;
    color: white;
    text-align: center;
}
/* ---------------------------------------------------------- */

/* -------------------------SECOND SECTION HOME--------------------------------- */
#card-box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
#secondpage{
    align-items: center;
    justify-content: center;
}
#title-page2{
    height: 14vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#title-page2 div h1{
    font-family: lato-regular;
    font-size: 35px;
    font-weight: bold;
    line-height: 40px;
    color: black;
    text-align: center;
}
.card-container{
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container div img{
    height: 100px;
    margin: 20px 0 20px 0
}

.card-content{
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
}

.card-content h1{
    font-family: lato-regular;
    font-size: 21px;
    font-weight: bold;
    color: black;
    margin: 20px 0 20px 0

}

.card-content h3{
    font-family: lato-regular;
    font-size: 14px;
    font-weight: normal;
    color: black;
    width: 70%;
    text-align: center;
    margin: 20px 0 20px 0
}

/* ---------------------------------------------------------- */
/* --------------------------THIRD SECTION HOME-------------------------------- */

#thirdpage{
    min-height: 100vh;
    background-color: white;
}
#btns-offres{
    height: 35px;
    width: 120px;
    color: #2900FF;
    font-family: lato-regular;
    font-weight: bolder!important;
    font-size: 12px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    margin-bottom: 20px;
    border: 1.5px solid #2900FF;
}

#container-thirdpage h1{
    font-family: lato-regular;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
    color: black;
    line-height: 35px;
}

#container-thirdpage h3{
    font-family: lato-regular;
    font-size: 15px;
    margin-bottom: 30px;
    font-weight: normal;
    color: black;
}


#container-thirdpage{
    width: 375px;
    margin-right: 15%;
}

/* -----------------------CAROUSSEL----------------------------------- */
.caroussel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    overflow: hidden;
}

.caroussel-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    width: 100%;
    height: auto;
}

.caroussel-btn span.caroussel-arrow {
    width: 40px;
    height: 40px;

    background-image: url('../../media/images/arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left:5%;
    margin-right: 5%;

    cursor: pointer;
}

.caroussel-btn span.caroussel-arrow-left {
    transform: rotate(180deg);
}

.carroussel{
    height:500px ;
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: transform .4s ease-in-out;
}
/* ---------------------------------------------------------- */

/* --------------------------OFFER CARDS-------------------------------- */

.offercard {
    width: 350px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    background-color: #0A0024;
    color: white;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
}


.container-offers {
    width: 100%;
    display: flex;
    margin: 25px 50px 0px 50px;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    height: 20%;
}
.btns-catchword{
    height: 35px;
    width: 120px;
    color: #2900FF;
    font-family: lato-regular;
    font-weight: bolder!important;
    font-size: 12px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1.5px solid #2900FF;
}
.container-advantage{
    height: 50%;
    color: #FFFFFF;
    width: 100%;
    display: flex;
    margin:0px 50px 0px 50px;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;

}
.subcontain-advantage{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    height: 50%;
}
.advantage{
    display: flex;
}

.title-offers{
    font-size: 25px;
    font-weight: bold;
    font-family: lato-blackitalic;
    text-transform: uppercase;
}
.price-offers{
    text-transform: uppercase;
    color: white;
    font-size: 28px;
    font-weight: bold;
    line-height: 32px;
    margin-top: 10px;
}


.check{
    height: 20px;
    width: auto;
    margin-bottom: 5px;
    margin-right: 8px;
}

.btns-offers{
    height: 45px;
    width: 155px;
    color: #ffffff;
    font-family: lato-regular;
    font-weight: bolder!important;
    font-size: 12px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    border: 1.5px solid #2900FF;
    background-color: #2900FF;
    cursor: pointer;
    transition: .5s ease;
}
.btns-offers:hover{
    transform: scale(1.1);
}
.container-btns{
    width: 100%;
    display: flex;
   justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 25%;
}
.see-more{
    color: #2900FF;
    font-size: 12px;
    font-family: 'lato-regular', Tahoma, Geneva, sans-serif;
}



.read-more-button {
    position: relative;
    width: 70px;
    height: 45px;
    background-color: #2900FF;
    border: 0;
    border-radius: 40px;
    outline: none;
    cursor: pointer;
}
.read-more-button .text {
    position: absolute;
    text-transform: uppercase;
    font-family: 'lato-regular', Tahoma, Geneva, sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    left: 50%;
    top: 50%;
    width: 185px;
    color: #fff;
    text-align: left;
    transform: translate(-50%, -50%);
}

.read-more-button .arrow-btns {
    position: absolute;
    right: 15%;
    top: 50%;
    width: 1em;
    height: .2em;
    margin-top: -.1em;
    border-radius: .2em;
    background-color: #fff;
    transform: translateX(50%);
}
.read-more-button .arrow-btns::before,
.read-more-button .arrow-btns::after {
    content: '';
    position: absolute;
    right: 0;
    width: 60%;
    height: 100%;
    border-radius: .2em;
    background-color: #fff;
    transform-origin: right center;
}
.read-more-button .arrow-btns::before {
    bottom: -30%;
    transform: rotate(45deg);
}
.read-more-button .arrow-btns::after {
    top: -30%;
    transform: rotate(-45deg);
}
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */

/* ------------------------LOGIN REGISTER FORM---------------------------------- */

#login{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
    background-color: rgba(239, 241, 255, 1);
}

.container-log{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;

}

.container-regi{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.card_log{
    height: 530px;
    width: 510px;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card_regi{
    height: 845px;
    width: 510px;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input_log{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
    width: 365px;
}

.input{
    height: 50px;
    width: 360px;
    border-radius: 10px;
    border: none;
    background-color:#EFF1FF;
    padding-left: 20px;
    outline: none;
    box-sizing: border-box;

}

input{
    color: black;
    font-size: 14px;
    font-family: lato-regular;
}

::placeholder, input[type=password], input[type=email]{
    color: #2900FF;
    opacity: 0.7;
    font-family: lato-regular;
    font-size: 14px;

}

label{
    font-family: lato-bold;
    color: #2900FF;
    font-size: 14px;
}

.remember{
    height: 16px;
    width: 360px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 15px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #EFF1FF;
    -webkit-transition: .4s;
    transition: .4s;
    border: none;
    outline: none;
}

.slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 3px;
    bottom: 3px;
    background-color: #2900FF;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #EFF1FF;
}

input:focus + .slider {
    box-shadow: 0 0 1px #EFF1FF;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

.slider.round {
    border-radius: 10px;
}

.slider.round:before {
    border-radius: 50%;
}

#remember-txt{
    font-family: lato-bold;
    color: #2900FF;
    font-size: 12px;
    margin-left: 15px;
}
.connect{
    height: 50px;
    width: 110px;
    background-color: #2900FF;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: lato-bold;
    font-size: 13px;
    border: none;
    outline: none;
    cursor: pointer;
}

.register{
    height: 50px;
    width: 260px;
    background-color: #2900FF;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: lato-bold;
    font-size: 13px;
    border: none;
    outline: none;
    cursor: pointer;
}


.forgot-passwd{
    font-family: lato-bold;
    color: #2900FF;
    font-size: 13px;
    text-decoration: underline ;

}

.connexion-container, .register-container{
    height: 130px;
    width: 360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.register-container{
    justify-content: center!important;
    height: 70px;
}


.new-user{
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2900FF;
    font-family: lato-bold;
    font-size: 12px;
}

.login{
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly
}

.welcome, .regi{
    width: 360px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
}
.regi{
    justify-content: center!important;
}
.details-regi{
    width: 360px;
}

.details-regi p {
    color: #2900FF;
    font-family: 'lato-regular', Tahoma, Geneva, sans-serif;
    font-size: 12px;

}
.cgu{
    text-decoration: underline;
}

.btn {
    position: relative;
    display: flex;
    justify-content: center;
    width: 277px;
    height: 50px;
    line-height: 60px;
    background-color: transparent;
    cursor: pointer;
    text-decoration:none;
    letter-spacing: 0.045em;
    outline: none;
    border: none;
    font-family: lato-bold;
    font-size: 13px;
    font-weight: bold;
}

.btn svg {
    position: absolute;

}

.btn svg rect {
//stroke: #2900FF;
    stroke-width: 4;
    stroke-dasharray: 353, 0;
    stroke-dashoffset: 0;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
}

.btn span{
    color: #2900FF;
    background: #2900FF ;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d4ff', endColorstr='#2900FF ',GradientType=1 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn:hover svg rect {
    stroke-width: 4;
    stroke-dasharray: 200, 543;
    stroke-dashoffset: 437;
}

.btn_log {
    position: relative;
    display: flex;
    justify-content: center;
    height: 50px;
    line-height: 60px;
    background-color: transparent;
    cursor: pointer;
    text-decoration:none;
    letter-spacing: 0.045em;
    outline: none;
    border: none;
    font-family: lato-bold;
    font-size: 13px;
    font-weight: bold;
}

.btn_log svg {
    position: absolute;

}

.btn_log svg rect {
//stroke: #2900FF;
    stroke-width: 4;
    stroke-dasharray: 353, 0;
    stroke-dashoffset: 0;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
}

.btn_log span{
    color: #2900FF;
    background: #2900FF ;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d4ff', endColorstr='#2900FF ',GradientType=1 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn_log:hover svg rect {
    stroke-width: 4;
    stroke-dasharray: 71, 543;
    stroke-dashoffset: 437;
}

/* ---------------------------------------------------------- */



/* ----------------------------FIRST SECTION ABOUT------------------------------ */


#first-about{
    background-color: #EFF1FF ;
    align-items: center;
    padding-top:10vh ;
}
.title-about{
    justify-content: center;
    align-items: center;
    height: 10vh;
}
.title-about :nth-child(1){
    font-size: 35px;
    font-family: lato-bold;
    line-height: 45px;
}
.title-about :nth-child(2){
    font-size: 20px;
    font-family: 'lato-regular', Tahoma, Geneva, sans-serif;
}
.project-container, .container-img-project{
    height: 80vh;
}
.project-txt{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.project-txt div {
    width: 40%;
}
.project-txt div p{
    margin-top: 25px;
    line-height: 25px;
}

.project-txt div :nth-child(1){
    font-family: lato-bold;
    font-size: 30px;
}
.container-img-project img{
    width: 70%;
}
.container-img-project{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
/* ---------------------------------------------------------- */

/* ---------------------------SECOND SECTION ABOUT------------------------------- */
.photo-container{
    padding: 150px 0px 150px 150px;
    box-sizing: border-box;
}
.patch-photos{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.patch-photos p {
    opacity: 0;
    height: inherit;
    z-index: 10000;
}
.patch-photos p:hover {
    opacity: 1;
}
#max{
    background-image: url('../../media/images/max.jpg');
}
#hugo{
    background-image: url('../../media/images/hugo.jpg');
}
#hugo:hover{
    -webkit-filter: blur(3px);
    filter: blur(3px);
    transition: .5s ease-in-out;
    opacity: 1;
}
#antoine{
    background-image: url('../../media/images/antoine.jpg');
}
#clement{
    background-image: url('../../media/images/clem.jpg');
}
.about-us{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-us{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70%;
    width: 35%;
}

.personal-desciption{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 80%;
}
.personal-desciption p{
    text-align: center;
}
.personal-desciption :nth-child(1){
    font-family: lato-bold;
    font-size: 30px;
    margin-bottom: 20px;
}
/* ---------------------------------------------------------- */

/* -------------------------THIRD SECTION ABOUT--------------------------------- */
#third-about{
    background-color: #EFF1FF;
}

/* -------------------------CONTACT FORM--------------------------------- */
.contact-form{
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card_form{
    height: 650px;
    width: 1050px;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_contact{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 650px;
}
.container-input{
    display: flex;
    flex-direction: column;
}

.input_firstname, .input_lastname, .input_email, .input_message{
    height: 50px;
    width: 350px;
    border-radius: 10px;
    border: none;
    background-color:#EFF1FF;
    padding-left: 20px;
    outline: none;
    box-sizing: border-box;
}
.input_lastname{
    width: 210px!important;
}
.input_email, .input_message{
    width: 600px;
}
.input_message{
    height: 150px;
    padding-top: 20px;
}
.title-contact{
    width: 400px;
    background-color: #0A0024;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-group{
    display: flex;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title-group :nth-child(1){
    margin-bottom: 25px;
}
.title-group :nth-child(2){
    font-family: lato-bold;
    font-size: 20px;
}

.container-input :nth-child(1){
    margin-bottom: 10px;
}

/* ---------------------------------------------------------- */



/* ----------------------------FOOTER------------------------------ */
.footer{
    background-color: #0a0024;
    display: flex;
    flex-wrap: wrap;
}

.top-container{
    display: flex;
    flex-wrap: wrap;
    min-height: 7vh;
    align-items: flex-end;
    justify-content: center;
}
.bottom-container{
    display: flex;
    flex-wrap: wrap;
    min-height: 20vh;
    align-items: center;
    justify-content: center;
}
.bottom-left a{
    margin-right: 50px;
    font-size: 14px;
}
.bottom-left img{
    width: 150px;
}
.bottom-right{
    justify-content: space-between;
}
.bottom-left, .bottom-right{
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.socials-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.copyright-footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.copyright-footer p {
    font-size: 13px;
}

.circle-icon{
    height: 40px;
    width:40px;
    border-radius: 50%;
    background-color: #FFFFFF;
    margin-left: 30px;
}

.top{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    background-color: #EFF1FF;
    color: black;
    font-family: 'lato-regular', Tahoma, Geneva, sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.socials{
    height: 18vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #EFF1FF;
    color: black;
    font-family: 'lato-regular', Tahoma, Geneva, sans-serif;
    font-size: 14px;
}


.bottom{
    height: 15vh;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 50%;
    font-size: 12px;
}

.bottom p {
    font-size: 10px;
    color: #868686;
}


.facebook{
    background-image: url('../../media/images/facebook.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.discord{
    background-image: url('../../media/images/discord.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.twitter{
    background-image: url('../../media/images/twitter.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.linkedin{
    background-image: url('../../media/images/linkedin.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* ---------------------------------------------------------- */